@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


  .leaderboard-container {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .leaderboard-container:hover{
    box-shadow: 10px;
  }
  
  